* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {font-family:$font-inter; text-decoration: none; font-size: 20px; color: $black; font-weight: $font-medium; padding-top: 88px;}

.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding:  0 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
