/*------color-font-------*/ 
$primary: #ffa726;
$secondary:#666666;
$dark-white:#F5F5F5;
$black: #000;
$white: #fff;
$gray:#999999;

/*--------font-family------*/ 
$primary-font :'Raleway';
$secondary-font:'Roboto';
$font-inter:'Inter';

/*-------font-weight-----*/ 
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// font-size
$xx-laege:60px;
$x-large:40px;
$large:36px;
$x-medium:29px;
$medium:24px;
$regular:22px;
$x-small:20px;
$small:16px;
$small-x:15px;
