#customar {
    width: 100%;
    background: $white;
    padding-top: 73px;
    padding-bottom: 135px;

    .customar-main {
        width: 100%;

        .customar-service {
            text-align: center;

            h3 {
                color: $primary;
                padding-bottom: 25px;
            }

            h2 {
                padding-bottom: 20px;
            }

            p {
                font-weight: $font-regular;
                max-width: 50%;
                margin: 0 auto;
            }
        }

        .customar-blog {
            margin: 70px -15px 0 -15px;
            position: relative;
                &:hover .slick-prev,  &:hover .slick-next{
                    transition: all ease 0.5s;
                    opacity: 1;
                    visibility: visible;
                    cursor: pointer;

                }
            .slick-slide {
                padding: 0 15px;
            }
                .slick-prev{
                    position: absolute;
                    top: 115px;
                    left: -61px;
                    width: 50px;
                    height: 50px;
                    background: $primary;
                    border-radius: 50%;
                    font-size: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: all ease 0.5s;

                    &::after{
                        content:'\f104';
                        font-family:'Fontawesome';
                        font-size:$regular;
                        color:$white;
                    }
                    
                }

                .slick-next{
                    position: absolute;
                    top: 115px;
                    right: -61px;
                    width: 50px;
                    height: 50px;
                    background: $primary;
                    border-radius: 50%;
                    font-size: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: all ease 0.5s;

                    &::before{
                        content:'\f105';
                        font-family:'Fontawesome';
                        font-size:$regular;
                        color:$white;
                    }

                }

            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 10px;
                margin-top: 25px;

                li {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: $primary;
                    transition: all ease 0.5s;
                    &.slick-active{
                        background: #926f3b;
                        transition: all ease 0.5s;
                    }
                    button {
                        font-size: 0;
                    }

                    &:hover{
                        background:#926f3b;
                        transition: all ease 0.5s;
                        cursor: pointer;
                    }
                }
            }

            .customar-box {
                .testimonial-text-block {
                    background: $dark-white;
                    border-radius: 8px;
                    padding: 25px 23px 50px 23px;
                    position: relative;

                }

                p {
                    padding-top: 20px;
                    color: $secondary;
                    font-weight: $font-regular;
                    padding-bottom: 15px;
                }

                ul {

                    li {
                        i {
                            font-size: $x-medium;
                            color: $primary;
                            margin-right: 6px;
                        }
                    }
                }

                .customar-jhon {
                    width: auto;
                  margin: -30px 0 0 61px;
                  position: relative;


                    .jhon-img {
                        width: 60px;
                        height: 60px;
                        margin-left:5px;
                        border-radius: 50%;
                    }

                    span {
                        font-size: $small;
                        color: $black;
                        font-weight: $font-regular;
                        line-height: 24px;
                        font-family: $secondary-font;
                        padding-top: 15px;
                        display: block;
                    }
                }


            }
        }


    }


}